.google {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-color: white;
  border: 0.5px solid #A3B0BC;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center
}
.google > img {
  pointer-events: none;
}
.my-facebook-button-class {
  color: #3C79e6;
  background-color: white;
  border-radius: 100%;
  border:  0.5px solid #A3B0BC;
  width: 48px;
  height: 48px;
  font-size: 18px;
}
.googlefacebook {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
