.modal-content-sign {
    position: absolute;
    padding: 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
    border-radius: 20px;
}

.forgot_btn {
    margin-top: 10px;
    background-color: white;
    border: none;
    color: #9832FE;
}

.submit_and_forgot {
    text-align: right;
}

.forgot_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #202029;
    padding-bottom: 20px;
}

.forgot_text {
    text-align: center;
}

.forgot_text_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #9832FE;
}

.form_style {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.form_style>div {
    width: 354px;
}

.form_style>div span {
    color: red;
    padding-top: 10px;
}

.form_style div label {
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #3D424E;
}

.form_style div input {
    font-family: 'Montserrat arm';
    font-style: normal;
    width: 354px;
    height: 48px;
    padding: 10px 20px;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid #A3B0BC;
    outline: none;
    font-size: 25px;
    color: #3D424E;
    margin-top: 8px;
}

#submit-btn {
    width: 356px;
    height: 48px;
    background: #9832FE;
    box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

#send-btn {
    width: 356px;
    height: 48px;
    background: #9832FE;
    box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
    border-radius: 30px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.email_input::placeholder {
    font-size: 16px;
}

.btn-acc {
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.forgotBtn{
    color: #9832FE;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 245px;
}

@media (min-width: 300px) and (max-width: 600px) {
    .btn-modal {
        font-size: 24px;
        text-decoration: none;
        color: black
    }
}