.modal-content-sign {
    position: absolute;
    padding: 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
    border-radius: 20px;
}
.form_style  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px
}
.form_style >div {
    width: 354px;
}

.form_style div label {
    font-family: 'Montserrat arm';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:#3D424E;
}

.form_style div input {
    width: 354px;
    height: 48px;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid #A3B0BC;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    color: #FFFFFF;
}

#submit-btn {
    width: 356px;
    height: 48px;
    background: #9832FE;
    box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    color: #FFFFFF;
}

.btn-acc {
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    background: none;
    text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 600px) {
    .btn-modal  {
        font-size: 24px;
        text-decoration: none;
        color:black
    }
} 