.seeAll {
  background-color: #9832fe;
  border-radius: 30px;
  height: 48px;
  width: 228px;
  border: none;
  color: white;
  cursor: pointer;
}
.post__img {
  padding-bottom: 20px;
}
.section_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ancolortxt {
  color: #9832fe;
  font-size: 56px;
}

.hometext>h1 {
  font-size: 56px;
}

.hometext {
  padding: 61px 0 61px 0;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Montserrat arm";
  font-style: normal;
}

.hometext>p {
  max-width: 722px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.section_2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .section_1>div {
    text-align: center;
  }

  .section_1 {
    flex-direction: column;
  }

  .hometext {
    width: 285px;
  }

  .section_1_img {
    width: 284px;
  }

  .section_1>div>h1 {
    font-size: 16px;
  }

  .ancolortxt {
    font-size: 16px;
  }

  .section_1>div>p {
    font-size: 12px;
  }

  .quote_image {
    width: 290px;
  }
}

.post__item {
  width: 600px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.post__text {
  padding: 10px 20px;
  font-family: "Montserrat arm";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #878787;
}

.post__header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #F3F3F3;
}

.left_buttons {
  display: flex;
  align-items: center;
  gap: 20px
}

.post_footer>div>button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #878787;
  background-color: white;
  border: none;
  cursor: pointer;
}

.post_footer {
  padding:  0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}


.name {
  padding-bottom: 10px;
  font-family: "Montserrat arm";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.time {
  font-family: "Montserrat arm";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.user_avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.more_div button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  font-family: "Montserrat arm";
  cursor: pointer;
}
.coomments{
  width: 100px;
}
.comment_always {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.add_comment_avatar{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.add_comment_input{
  font-size: 15px;
  width: 505px;
  height: 40px;
  background: #F1F2F5;
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px;
}
.view_comments{
  color: #878787;
  width: 132px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}
.comments{
  overflow-y:auto;
  max-height: 200px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}
.comment{
  margin-left: 20px;
  width: 550px;
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
}
.comment_text{
  margin-left: 50px;
  width: 540px;
  margin-bottom: 20px;
}
.hide_comments{
    cursor: pointer;
    color: #878787;
    width: 132px;
    height: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    width: 580px;
}