nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 215px;
}
ul {
  margin: 0;
  padding: 0;
}
nav>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 30px
}

nav>ul>li>a {
  color: black;
  text-decoration: none;

}

nav>ul>li>ul>li>a {
  color: black;
  text-decoration: none;

}

.search {
  border-radius: 30px;
  padding-left: 40px;
  width: 258px;
  height: 40px;
  border: none;
  outline: none;
}

.signin {
  background-color: #9832FE;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;

}

.search_input {
  position: relative;
}

.search_input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.search_input>img {
  position: absolute;
  left: 10px;
  top: 9px;
  width: 26px;
  height: 26px;
}

.menu {
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.menu> span {
  width: 16px;
  height: 2px;
  background-color: black
}

.responsive_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: linear-gradient(179.25deg, #EDCFFF -35.86%, rgba(226, 214, 255) 26.04%, rgba(249, 216, 255) 55.24%, #FFFFFF 94.1%);
  top:60px;
  left: 0;
  padding-top: 30px;
}
.responsive_menu > ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.responsive_menu > ul > li> span {
  font-size: 24px;

}
.responsive_menu > ul > li> a {
  font-size: 24px;
  text-decoration: none;
  color:black
}
.closeMenu {
  font-size: 30px;
  font-family: "Arial";
  cursor: pointer;
  

}
@media (min-width: 300px) and (max-width: 600px) {
  .menu-list, .upload-btn, .login-btn {
    display: none;
  }
 nav > ul {
    gap:0px
  }
  nav {
    gap:35px
  }
  .search {
    width: 200px;
    height: 32px;
    padding-left: 40px;
  }
  .search_input>img  {
    left: 15px;
  top: 5px;
  }
  .book-icon {
    width: 24px;
  }
  .right-list {
    gap: 0px;
  }
  .menu {
    display: flex;
  }
  
}
  
