.modal_content_delete_acc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
    border-radius: 20px;
    padding: 50px;
    width: 686px;
    height: 721px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.modal_delete_acc {
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;

}


.overlay_delete_acc {
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(29, 24, 24, 0.8);

}