.motivational_section_1  {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-direction: column;
}
.motivational_section_1 > * {
    max-width: 700px;
    min-width: 300px;
}