/* PC */
@media(min-width: 601px){    
    .btn-modal {
    border: none;
    background: none;
    cursor: pointer;
    }
    .modal, .overlay{
        display: block;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }
    .modal{
        z-index: 100;
    }
    .overlay{
        background-color:rgba(29, 24, 24, 0.8);
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 485px;
        height: 600px;
        background: #FFFFFF;
        box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
        border-radius: 20px;
    }
    .close{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 20px;
    }
    .imageDiv{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 192px;
        top: 48px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    #files{
        display: none;
    }
    .fileLabel{
        position: absolute;
        width: 160px;
        height: 16px;
        top: 110px;
        left: -11px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
    }
    .fileRequired{
        font-size: 12px;
        position: absolute;
        top: 175px;
        left: 140px;
        color: red;
    }
    .authorName{
        padding: 15px;
        font-size: 20px;
        position: absolute;
        width: 317px;
        height: 48px;
        left: 84px;
        top: 232px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
        border: none;
        outline: none;
    }
    .authorNameErr{
        font-size: 12px;
        position: absolute;
        top: 280px;
        left: 90px;
        color: red;
    }
    .bookName{
        border: none;
        outline: none;
        padding: 15px;
        font-size: 20px;
        position: absolute;
        width: 317px;
        height: 48px;
        left: 84px;
        top: 314px;        
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px
    }
    .bookNameErr{
        position: absolute;
        font-size: 12px;
        top: 364px;
        left: 90px;
        color: red;
    }
    .bookCategory{
        border: none;
        outline: none;
        padding: 15px;
        padding-right: 40px;
        font-size: 20px;
        position: absolute;
        width: 317px;
        height: 48px;
        left: 84px;
        top: 394px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .category_search{
        position: relative;
    }
    .search_img{
        position: absolute;
        top: 400px;
        left: 360px;
        z-index: 200;
        pointer-events: none;
    }
    .suggestions{
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        width: 317px;
        height: 200px;
        left: 84px;
        top: 441px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .suggestions::-webkit-scrollbar{
        width: 0;
    }
    .suggestedWords{
        padding: 16px 0 16px  16px;
        display: flex;
        align-items: center;
        height: 38px;
        font-size: 19px;
        cursor: pointer
    }
    .suggestedWords:hover{
        background-color:rgba(152, 50, 254, 0.16);;
    }
    .searches{
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        width: 317px;
        height: 200px;
        left: 84px;
        top: 441px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .searches::-webkit-scrollbar{
        width: 0;
    }
    .searchedWords{
        padding: 16px 0 16px  16px;
        display: flex;
        align-items: center;
        height: 38px;
        font-size: 19px;
    }
    .searchedWords:hover{
        background-color:rgba(152, 50, 254, 0.16);;
    }
    .categoryErr{
        position: absolute;
        top: 444px;
        left: 90px;
        font-size: 12px;
        color: red
    }
    .submit {
        position: absolute;
        width: 317px;
        height: 48px;
        left: 84px;
        top: 504px;
        background: #9832FE;
        box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
        border: none;
        outline: none;
        font-size: 25px;
        cursor: pointer;
        color: #FFFFFF;
    }

}

/* Phone */

@media (min-width: 300px) and (max-width: 600px) {
    .modal, .overlay{
        display: block;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    }   
    .modal{
        z-index: 100;
    }
    .overlay{
        background-color:rgba(49,49,49,0.8);
    }
    .btn-modal  {
        font-size: 24px;
        color:black;
        background: none;
        border: none;
    }
    .close{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 20px;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 344px;
        height: 480px;
        background: #FFFFFF;
        box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
        border-radius: 20px;
    }
    .imageDiv{
        position: absolute;
        width: 80px;
        height: 80px;
        left: 132px;
        top: 28px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .fileLabel{
        color: black;
        position: absolute;
        width: 200px;
        height: 16px;
        top: 90px;
        left: -33px;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        cursor: pointer;
    }
    .imageErr{
        font-size: 10px;
        position: absolute;
        top: 140px;
        left: 100px;
        color: red;
    }
    .authorName{
        padding: 15px;
        font-size: 15px;
        position: absolute;
        width: 256px;
        height: 48px;
        left: 44px;
        top: 180px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
        border: none;
        outline: none;
    }   
    .authorNameErr{
        font-size: 10px;
        position: absolute;
        top: 233px;
        left: 55px;
        color: red;
    } 
    .bookName{
        border: none;
        outline: none;
        padding: 15px;
        font-size: 15px;
        position: absolute;
        width: 256px;
        height: 48px;
        left: 44px;
        top: 245px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .bookNameErr{
        font-size: 10px;
        position: absolute;
        top: 295px;
        left: 55px;
        color: red;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .bookCategory{
        border: none;
        outline: none;
        padding: 15px;
        padding-right: 45px;
        font-size: 15px;
        position: absolute;
        width: 256px;
        height: 48px;
        left: 44px;
        top: 308px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .category_search{
        position: relative;
    }
    .search_img{
        position: absolute;
        top: 315px;
        left: 262px;
        z-index: 200;
    }
    .fileInput{
        display: none;
    }
    .categoryErr{
        font-size: 10px;
        position: absolute;
        top: 360px;
        left: 55px;
        color: red;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .suggestions{
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        width: 265px;
        height: 200px;
        left: 40px;
        top: 360px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .suggestions::-webkit-scrollbar{
        width: 0;
    }
    .suggestedWords{
        color: black;
        padding: 16px 0 16px  16px;
        display: flex;
        align-items: center;
        height: 38px;
        font-size: 19px;
    }
    .suggestedWords:hover{
        background-color:rgba(152, 50, 254, 0.16);;
    }
    .searches{
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        width: 265px;
        height: 200px;
        left: 40px;
        top: 360px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px 1px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
    }
    .searches::-webkit-scrollbar{
        width: 0;
    }
    .searchedWords{
        color: black;
        padding: 16px 0 16px  16px;
        display: flex;
        align-items: center;
        height: 38px;
        font-size: 19px;
    }
    .searchedWords:hover{
        background-color:rgba(152, 50, 254, 0.16);;
    }
    .submit {
        position: absolute;
        width: 256px;
        height: 48px;
        left: 44px;
        top: 404px;
        background: #9832FE;
        box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
        border-radius: 30px;
        border: none;
        outline: none;
        font-size: 20px;
        cursor: pointer;
        color: #FFFFFF;
    }
}