.profile_post{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: center;
}
.post{
    width: 30%;
    margin: 3px;
}
.post_img{
    height: 100%;
    width: 100%;
}