.profilePage {
    width: 90%;
    margin: auto;
    background-color: white;
}

.profile_background {
    width: 100%;
    height: 323px;
    border-radius: 0px 0px 10px 10px;
    position: relative;
}
#profile_photo, #cover_photo {
    visibility: hidden;
}
.edit_profile_pic {
    position: absolute;
    left: 170px;
    top: -15px;
    width: 40px;
    height: 40px;
    background-color: #E5E6EB;
    border: none;
    border-radius: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select:none;
}

.edit_cover_photo_button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 239px;
    height: 40px;
    background-color: #E5E6EB;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}

.pic_div {
    position: relative;
}

.autor_pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top: -160px;
    left: 50px;
}

.nameSurnameDiv {
    width: 300px;
    position: absolute;
    top: -50px;
    left: 250px; 
}

.name_and_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.my_info {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* gap: 500px; */
}

.edit_btn {
    cursor: pointer;
    font-size: 20px;
    width: 180px;
    height: 48px;
    background: #9832FE;
    box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
    border-radius: 10px;
    border: none;
    color: white;
}

.profile_menu {
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: relative;
    font-size: 18px;
    padding: 0 10px;
}

.profile_menu>ul {
    list-style: none;
}

.profile_menu>ul>li>a {
    font-family: 'Montserrat arm';
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #878787;
}

.profile_menu_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* 
.more_btn {
    cursor: pointer;
    padding-bottom: 10px;
    width: 45px;
    height: 35px;
    background: #E5E6EB;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

} */


.settings {
    text-decoration: none;
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.privace_poilcy {
    pointer-events: none;
    width: 15px;
    height: 15px;
}

.privace_poilcy_txt {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #202029;
    position: absolute;
    top: 98px
}

/*  */


.image_crop {
    background-color: white;
    width: 300px;
    height: 377px;
    position: fixed;
    top: 25%;
    left: 40%;
    
}