

/* text editor styles */
.modal-text-editor {
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.modal-content-text-editor {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
    border-radius: 20px;
}

.text-editor-left-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.your-upload-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.005em;
    color: #202029;
}

.text-editor-select-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-direction: column;
}

.text-editor-select-section>select {
    width: 300px;
    height: 50px;
    border: 0.5px solid #A3B0BC;
    border-radius: 10px;
}

.text-editor-background-colors {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-editor-background-colors>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-editor-button {
    display: flex;
    gap: 15px;
}

.text-editor-button-discard {
    width: 130px;
    height: 35px;
    background: #E5E6EB;
    border-radius: 10px;
    border: none;
}

.text-editor-button-save {
    width: 150px;
    height: 35px;
    background: #9832FE;
    box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
}

.text-editor-textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 20px; */
    /* background: #9832FE; */

}

.text-editor-textarea>textarea {
    /* width: 672px;
    height: 541px; */
    /* border-radius: 20px; */
    outline: none;
    text-align: center;
    width: 400px;
    height: 300px;
    resize: none;
    /* border: none */
    padding: 10px;
}






.modal-content-published_or_not {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 5px 50px rgba(0, 67, 101, 0.1);
    border-radius: 20px;
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.modal-content_yes_or_no {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.modal-content_yes_or_no>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}


.modal-content-published-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #202029;
}


.modal-content-published_or_not>button {
    width: 120px;
    height: 30px;
    background: #9832FE;
    box-shadow: 0px 4px 50px 4px rgba(0, 67, 101, 0.08);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}